extends layout

block content
  
  if (currentUser)
    div.log-container
      if (currentUser.isMember && !currentUser.isAdmin)
        a(href='/level-up' class='link-btn lvl-up-btn') become an admin
      else if (!currentUser.isMember)
        a(href='/level-up' class='link-btn lvl-up-btn') become a member
      a(href='/log-out' class='link-btn log-out-btn') log out
  else
    div.log-container 
      a(href='/log-in' class='link-btn lvl-up-btn') log in
      a(href='/sign-up' class='link-btn lvl-up-btn') sign up
  
  h1.title= title

  if (currentUser)
    if (currentUser.isMember && !currentUser.isAdmin)
      h3.welcome-msg Welcome back, member #{currentUser.firstName}!
    else if (currentUser.isAdmin)
      h3.welcome-msg Welcome back, admin #{currentUser.firstName}!
    else
      h3.welcome-msg Welcome back, #{currentUser.firstName}!
    a(href='/new-message' class='add-msg') &#xFF0B; ADD NEW MESSAGE
  else
    h3.welcome-msg Log in to be able to add messages. 
      br
      | Become a MEMBER of the inner circle to see who posted the messages. 
      br
      | Upgrade to ADMIN to have the power to delete skanky messages.
      
  div.messages-wrapper
    - let messagesRev = messages.reverse();
    for message in messagesRev
      div.message-container
        div.delete-div
        if (currentUser)
          if (currentUser.isAdmin)
              form(action='/' method='POST')
                input(type='hidden' id='msgDelete' name='msgDeleteId' value=message._id)
                button(type='submit' class='msg-delete-btn') &#10060;
        div.message-info
          if (currentUser)
            if (currentUser.isMember == true)
              h2.name by #{message.author.fullName}
            else
              h2.name Anonymous author
          else
            h2.name Anonymous author
          p.msg-title (#{message.title})
          p.content= message.content
          if (currentUser)
            if (currentUser.isMember == true)
              p.date= message.dateFormatted
        
